<div class="container my-4">
  <div class="row g-4 justify-content-center">


      <div class="row">
        @if (products.length > 0) {
          @for (product of products; track product.id) {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
              <div class="card shadow-lg border-0" style="height: 100%; transform: scale(1.05); transition: 0.3s;">
                <span class="badge bg-danger position-absolute top-0 start-0 m-2">-30%</span>
                <img
                  [src]="product.image"
                  alt="Product"
                  class="card-img-top"
                  style="height: 260px; object-fit: cover; border-bottom: 2px solid #eee;"
                />
                <div class="card-body p-4">
                  <h5 class="card-title fw-bold">{{ product.title }}</h5>
                  <p class="card-text fs-6 text-primary">
                    US ${{ product.price }}
                    <s class="text-muted ms-2">US ${{ product.originalPrice }}</s>
                  </p>
                  <p class="text-muted small mb-0">{{ product.description }}</p>
                </div>
              </div>
            </div>
          }
        } @else {
          <div class="col-12 text-center mt-5">
            <h5 class="text-muted">No products available.</h5>
          </div>
        }
      </div>
    </div>

  </div>

